<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li>
            <a href="/app/listLeave"><i class="glyphicon glyphicon-chevron-right"></i> 请假列表</a>
        </li>
        <li>
            <a href="/app/checkLeave"><i class="glyphicon glyphicon-chevron-right"></i> 审批假条</a>
        </li>
        <li>
            <a href="/app/editProfile"><i class="glyphicon glyphicon-chevron-right"></i> 修改信息</a>
        </li>
    </ul>
</div>