<!DOCTYPE html>
<html>
<head>
  <title>请销假管理系统</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link rel="stylesheet" media="screen" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/public/css/bootstrap-theme.min.css">

  <!-- Bootstrap Admin Theme -->
  <link rel="stylesheet" media="screen" href="/public/css/bootstrap-admin-theme.css">
  <link rel="stylesheet" media="screen" href="/public/css/bootstrap-admin-theme-change-size.css">


  <script type="text/javascript" src="/public/js/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/public/js/html5shiv.js"></script>
  <script type="text/javascript" src="/public/js/respond.min.js"></script>
  <![endif]-->

  {{range .moreStyles}}
  <link rel="stylesheet" type="text/css" href="/public/{{.}}">
  {{end}}
  {{range .moreScripts}}
  <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
  {{end}}

</head>
<body class="bootstrap-admin-with-small-navbar">